body {
  background-color: #203a20;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", verdana, arial, sans-serif;
  color: #ffffff;
  word-wrap: break-word;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: #203a20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar #menu-icon {
  position: fixed;
  width: 10vw;
  left: 0;
  z-index: 6;
  text-align: center;
  cursor: pointer;
}

.Navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
  width: 992px;
}

@media screen and (max-width: 768px) {
  .Navbar .content {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Navbar .content .home {
  font-size: 1.5rem;
  text-align: center;
}

.Navbar .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .Navbar .content .links {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.92);
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .Navbar .content .links a {
    min-width: 100vw;
  }
  .Navbar .content .links a:hover {
    background-color: #306090 !important;
  }
}

.Navbar .content .links a {
  width: 100px;
  display: block;
  text-align: center;
}

.Navbar .content .links a:hover {
  background-color: #1fa020;
}

.Landing .h1, .Landing .h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Landing .h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
}

.Landing .h2 {
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
  margin: 8pt 0 36pt 0;
}

@media screen and (max-width: 992px) {
  .Landing .h1 {
    font-size: 3rem;
  }
  .Landing .h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .Landing .h1 {
    font-size: 2rem;
  }
  .Landing .h2 {
    font-size: 1rem;
    margin-bottom: 20pt;
  }
  .Landing .h1 div, .Landing .h2 div {
    width: 100%;
  }
}

.Landing .page-content .section {
  text-align: center;
  padding: 54px 0 38px;
}

@media screen and (max-width: 768px) {
  .Landing .page-content .section {
    padding: 42px 0 24px;
  }
}

.Reviews .reviewer {
  font-size: 15pt;
  padding-bottom: 48pt;
  font-style: italic;
}

.Reviews .btn {
  margin-top: 32px;
}

.Account iframe {
  margin: 0;
  width: 100%;
  max-width: 840px;
  height: 680px;
  border: none;
}

.Account .page-content {
  padding: 0;
}

.Footer {
  padding: 30px 0 48px;
  background-color: #203a20;
}

.Footer > div {
  width: 80vw;
  text-align: center;
  margin: auto;
}

.Footer .contact {
  font-size: 14pt;
  padding-bottom: 38px;
}

.Footer .contact .header {
  font-size: 20pt;
}

.Footer .copyright {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Splash .caption {
  font-size: 36pt;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .Splash .caption {
    font-size: 24pt;
  }
}

.Splash .image {
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.Splash .cover {
  background-color: rgba(0, 5, 10, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.Splash .cover .btn {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .Splash .cover .btn {
    margin-bottom: 30px;
  }
}

.Splash .image, .Splash .cover {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Splash .image, .Splash .cover {
    height: 140px;
  }
}

.Splash.large .image, .Splash.large .cover {
  height: 640px;
}

@media screen and (max-width: 768px) {
  .Splash.large .image, .Splash.large .cover {
    height: 300px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #fafffd;
  margin: 0;
}

.page-content {
  padding: 0 0 64px;
  color: black;
  background-color: #fafffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17pt;
}

.page-content .header {
  margin: 0 auto 10px;
  width: 100%;
  text-align: center;
}

.page-content .section {
  padding: 36px 0 30px;
  width: 80vw;
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .page-content .section {
    padding-top: 18px;
  }
}

.page-content .section p {
  font-size: 16pt;
  margin-top: 0;
}

.page-content .connect {
  font-size: 54pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content .connect a {
  margin: 0 15px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.page-content .connect a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-content .connect a#facebook {
  color: #3b5998;
}

.page-content .connect a#messenger {
  color: #0078ff;
}

.page-content .connect a#yelp {
  color: #af0606;
}

.btn {
  display: block;
  text-decoration: none;
  color: #fafffd;
  padding: 15px 20px;
  text-align: center;
  max-width: 90vw;
  min-width: 250px;
  font-size: 18pt;
  font-weight: 100;
  border-radius: 10px;
  background-color: #306090;
  cursor: pointer;
  margin-bottom: 12px;
}

.btn:hover {
  background: #4684c1;
}

.btn-action {
  background-color: #1fa020;
  padding: 25px 55px;
}

@media screen and (max-width: 768px) {
  .btn-action {
    padding: 16px 20px;
    font-size: 16pt;
  }
}

.btn-action:hover {
  background: #24ba25;
}

.link {
  font-size: 13pt;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.double-wide {
  width: 535px;
  max-width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95vw;
  max-width: 640px;
  font-size: 11pt;
}

.table a {
  color: #0000bb;
  text-decoration: underline;
}

.table .th, .table .tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table .th div, .table .tr div {
  padding: 0 3px;
  border: black solid 1px;
}

.table .th div:nth-child(1), .table .tr div:nth-child(1) {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  border-right: none;
}

.table .th div:nth-child(2), .table .tr div:nth-child(2) {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  border-right: none;
}

.table .th div:nth-child(3), .table .tr div:nth-child(3) {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  border-right: none;
}

.table .th div:nth-child(4), .table .tr div:nth-child(4) {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  border-right: none;
}

.table .th div:nth-child(5), .table .tr div:nth-child(5) {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  border-right: none;
}

.table .th div:nth-child(6), .table .tr div:nth-child(6) {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.table .th {
  background-color: #eff3fa;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  max-width: 90vw;
}

form input, form textarea {
  font-size: 14pt;
  font-family: "Roboto", verdana, arial, sans-serif;
  margin: 6px 0;
  padding: 6px;
  width: 400px;
  max-width: 90vw;
}

form button {
  border: none;
  margin: 12px;
}

.disclaimer {
  margin: 6px 0 0;
  width: 90vw;
  max-width: 400px;
  font-size: 10pt;
  font-style: italic;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */