body {
  background-color: #203a20;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", verdana, arial, sans-serif;
  color: #ffffff;
  word-wrap: break-word;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: #203a20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar #menu-icon {
  position: fixed;
  width: 10vw;
  left: 0;
  z-index: 6;
  text-align: center;
  cursor: pointer;
}

.Navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
  width: 992px;
}

@media screen and (max-width: 768px) {
  .Navbar .content {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Navbar .content .home {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .Navbar .content .home {
    font-size: 1.2rem;
  }
}

.Navbar .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .Navbar .content .links {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .Navbar .content .links a {
    min-width: 100vw;
    -webkit-transform: translateY(-3vh);
            transform: translateY(-3vh);
  }
  .Navbar .content .links a:hover {
    background-color: #306090 !important;
  }
}

.Navbar .content .links a {
  width: 100px;
  display: block;
  text-align: center;
}

.Navbar .content .links a:hover {
  background-color: #1fa020;
}

.Landing .h1, .Landing .h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Landing .h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
}

.Landing .h2 {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  margin: 8pt 0 36pt 0;
}

@media screen and (max-width: 992px) {
  .Landing .h1 {
    font-size: 3rem;
  }
  .Landing .h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .Landing .h1 {
    font-size: 2rem;
  }
  .Landing .h2 {
    font-size: 1rem;
    margin-bottom: 20pt;
  }
  .Landing .h1 div, .Landing .h2 div {
    width: 100%;
  }
}

.Landing .page-content .section {
  text-align: center;
  padding: 48px 0 38px;
}

@media screen and (max-width: 768px) {
  .Landing .page-content .section {
    padding: 25px 0 20px;
  }
}

.Reviews .carousel {
  width: 100%;
  display: block;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.Reviews .carousel h1 {
  margin: 0 auto 24px;
  color: #334466;
  font-size: 24pt;
}

.Reviews .carousel p {
  margin-top: 0;
}

.Reviews .carousel .reviewer {
  margin: 18px 0;
  font-style: italic;
  font-size: 16pt;
}

.Reviews .carousel .left, .Reviews .carousel .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
}

.Reviews .carousel .left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Reviews .carousel .right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Reviews .carousel .center {
  width: 70%;
}

.Reviews .carousel .slide {
  position: absolute;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 36px;
}

.Reviews .carousel .slide .slide-content {
  width: 900px;
  max-width: 90%;
}

.Reviews .carousel .slide #home-adviser .awards {
  margin: 32px 0 38px;
}

.Reviews .carousel .slide #home-adviser .awards img {
  max-width: 18vw;
}

.Reviews .carousel .slide #home-adviser .ratings {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 13pt;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.4;
  margin: 32px 0;
}

@media (max-width: 900px) {
  .Reviews .carousel .slide #home-adviser .ratings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 18px 0;
  }
}

.Reviews .carousel .slide #home-adviser .ratings div {
  min-width: 180px;
}

.Reviews .carousel .slide #facebook .fb-page {
  margin-bottom: 18px;
}

@media (max-width: 900px) {
  .Reviews .carousel .slide #facebook .fb-page {
    margin-bottom: 6px;
  }
}

@media (max-width: 520px) {
  .Reviews .carousel .slide #facebook .fb-page {
    display: none;
  }
}

.Reviews .carousel .slide #facebook .facebook-link {
  display: none;
}

@media (max-width: 520px) {
  .Reviews .carousel .slide #facebook .facebook-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 18px;
  }
}

.Reviews .carousel .slide #facebook .url {
  font-size: 14pt;
}

.Reviews .carousel .slide #facebook p {
  margin-top: 18px;
}

@media (max-width: 900px) {
  .Reviews .carousel .slide #facebook p {
    margin-top: 6px;
  }
}

@media (max-width: 930px) {
  .Reviews .carousel .slide #yelp .reviewer {
    margin: 10px 0;
  }
}

@media (max-width: 650px) {
  .Reviews .carousel .slide #yelp .reviewer {
    font-size: 14pt;
  }
}

@media (max-width: 560px) {
  .Reviews .carousel .slide #yelp .reviewer {
    margin: 4px 0;
  }
}

@media (max-width: 380px) {
  .Reviews .carousel .slide #yelp .yelp-badge {
    display: none;
  }
}

@media (max-width: 1170px) {
  .Reviews .carousel .slide #yelp p {
    font-size: 16pt;
    margin-bottom: 8pt;
    line-height: 1.4;
  }
}

@media (max-width: 930px) {
  .Reviews .carousel .slide #yelp p {
    font-size: 15pt;
    margin-bottom: 7pt;
  }
}

@media (max-width: 780px) {
  .Reviews .carousel .slide #yelp p {
    font-size: 13.5pt;
  }
}

@media (max-width: 650px) {
  .Reviews .carousel .slide #yelp p {
    font-size: 13pt;
  }
}

@media (max-width: 560px) {
  .Reviews .carousel .slide #yelp p {
    font-size: 12.5pt;
  }
}

@media (max-width: 560px) {
  .Reviews .carousel .slide #yelp p {
    line-height: 1.3;
  }
}

@media (max-width: 500px) {
  .Reviews .carousel .slide #yelp p {
    font-size: 12pt;
    margin-bottom: 0;
  }
}

.Reviews .carousel .arrow {
  font-size: 40pt;
  color: rgba(0, 0, 0, 0.5);
  max-width: 14vw;
  cursor: pointer;
}

@media (max-width: 560px) {
  .Reviews .carousel .arrow {
    font-size: 30pt;
  }
}

.Reviews .carousel .arrow:hover {
  color: rgba(0, 0, 0, 0.65);
}

.Reviews .btn-action {
  padding: 20px 40px;
  font-size: 15pt;
}

.fade-in {
  -webkit-animation: 400ms linear 0s 1 fadeIn forwards;
          animation: 400ms linear 0s 1 fadeIn forwards;
}

.fade-out {
  -webkit-animation: 400ms linear 0s 1 fadeOut forwards;
          animation: 400ms linear 0s 1 fadeOut forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Account iframe {
  margin: 0;
  width: 100%;
  max-width: 840px;
  height: 680px;
  border: none;
}

.Account .page-content {
  padding: 0;
}

.Footer {
  padding: 30px 0 48px;
  background-color: #203a20;
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 2px 0 28px;
  }
}

.Footer > div {
  width: 80vw;
  text-align: center;
  margin: auto;
}

.Footer .contact {
  font-size: 14pt;
  padding-bottom: 38px;
}

@media screen and (max-width: 768px) {
  .Footer .contact {
    padding-bottom: 24px;
  }
}

.Footer .contact .header {
  font-size: 20pt;
}

.Footer .copyright {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Splash {
  color: white;
}

.Splash .caption {
  font-size: 36pt;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .Splash .caption {
    font-size: 24pt;
  }
}

.Splash .image {
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.Splash .cover {
  background-color: rgba(0, 5, 10, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.Splash .cover .btn {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .Splash .cover .btn {
    margin-bottom: 30px;
  }
}

.Splash .image, .Splash .cover {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Splash .image, .Splash .cover {
    height: 140px;
  }
}

.Splash.large .image, .Splash.large .cover {
  height: 640px;
}

@media screen and (max-width: 768px) {
  .Splash.large .image, .Splash.large .cover {
    height: 300px;
  }
}

.About img {
  width: 80vw;
  max-width: 600px;
  margin: 16px 0 12px;
}

a {
  display: block;
  text-decoration: none;
  color: #fafffd;
  margin: 0;
}

.page-content {
  padding: 0 0 64px;
  color: #222229;
  background-color: #fafffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17pt;
  line-height: 25pt;
}

@media screen and (max-width: 768px) {
  .page-content {
    font-size: 14pt;
    line-height: 20pt;
    padding: 0 0 24px;
  }
}

.page-content .header {
  margin: 0 auto 10px;
  width: 100%;
  text-align: center;
}

.page-content div.section {
  padding: 36px 0 30px;
  width: 80vw;
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .page-content div.section {
    padding: 10px 0 10px;
  }
}

.page-content .connect {
  font-size: 54pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .page-content .connect {
    font-size: 38pt;
  }
}

.page-content .connect a {
  margin: 0 15px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.page-content .connect a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-content .connect a#facebook {
  color: #3b5998;
}

.page-content .connect a#messenger {
  color: #0078ff;
}

.page-content .connect a#yelp {
  color: #af0606;
}

.btn {
  display: block;
  text-decoration: none;
  color: #fafffd;
  padding: 15px 20px;
  text-align: center;
  max-width: 90vw;
  min-width: 250px;
  font-size: 18pt;
  border-radius: 10px;
  background-color: #306090;
  cursor: pointer;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 15pt;
    min-width: 200px;
    padding: 10px 20px;
  }
}

.btn:hover {
  background: #4684c1;
}

.btn-action {
  background-color: #1fa020;
  padding: 25px 55px;
}

@media screen and (max-width: 768px) {
  .btn-action {
    padding: 16px 20px;
    font-size: 16pt;
  }
}

.btn-action:hover {
  background: #24ba25;
}

.link {
  font-size: 13pt;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.double-wide {
  width: 535px;
  max-width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  max-width: 90vw;
}

form input, form textarea {
  font-size: 14pt;
  font-family: "Roboto", verdana, arial, sans-serif;
  margin: 6px 0;
  padding: 6px;
  width: 400px;
  max-width: 90vw;
}

form button {
  border: none;
  margin: 12px;
}

.disclaimer {
  margin: 6px 0 0;
  width: 90vw;
  max-width: 400px;
  font-size: 10pt;
  line-height: 15pt;
  font-style: italic;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */