.Landing
  .h1, .h2 
    display: flex 
    flex-wrap: wrap
  .h1 
    font-size: 4rem
    font-weight: 100
    margin: 0
  .h2 
    font-size: 1.8rem
    font-weight: 100
    font-style: italic
    margin: 8pt 0 36pt 0
  @media screen and (max-width: $lg)
    .h1 
      font-size: 3rem
    .h2 
      font-size: 1.5rem
  @media screen and (max-width: $md)
    .h1 
      font-size: 2rem
    .h2 
      font-size: 1rem
      margin-bottom: 20pt
    .h1 div, .h2 div
      width: 100%

  
  .page-content .section 
    text-align: center
    padding: 48px 0 38px
    @media screen and (max-width: $md)
      padding: 25px 0 20px