.Landing
  .image
    background-image: url("../assets/bg.jpg")
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  .cover
    background-color: rgba(0,0,5,.2)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  .image, .cover
    height: 800px
  h1 
    font-size: 4rem
    font-weight: 100
    margin: 0
  h2 
    font-size: 2rem
    font-weight: 100
    font-style: italic
    margin: 8pt 0 36pt 0
  