.btn
  display: block
  text-decoration: none
  color: $brand-white
  padding: 15px 20px
  text-align: center
  max-width: 90vw
  min-width: 250px
  font-size: 18pt
  font-weight: 100
  border-radius: 10px
  background-color: $brand-btn
  cursor: pointer
  margin-bottom: 12px
  @media screen and (max-width: $md)
    font-size: 15pt
    min-width: 200px
    padding: 10px 20px

  &:hover
    background: lighten($brand-btn, 14%)

.btn-action
  background-color: $brand-action
  padding: 25px 55px
  @media screen and (max-width: $md)
    padding: 16px 20px
    font-size: 16pt
  &:hover
    background: lighten($brand-action, 6%)

.link 
  font-size: 13pt 
  color: darkblue
  text-decoration: underline
  cursor: pointer

.double-wide 
  width: 535px 
  max-width: 98vw
  display: flex 
  flex-wrap: wrap 
  justify-content: space-evenly