.btn
  display: block
  text-decoration: none
  color: $brand-white
  background-color: $brand-dark
  padding: 20px 50px
  text-align: center
  max-width: 100%
  font-size: 18pt
  font-weight: 100
  border-radius: 10px

.btn-action
  background-color: $brand-action
  &:hover
    background: lighten($brand-action, 4%)
