
// Screen Sizes  
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

// Fonts 
$font-default: 'Roboto', verdana, arial, sans-serif 

// colors
$brand-dark:    #203a20
$brand-light:   #def0f3
$brand-white:   #fafffd

$brand-btn:     #306090
$brand-action:  #1fa020

